@charset"utf-8"
@font-face {
    font-weight: normal;
    font-style: normal;
	font-family: myFirstFont;
	src: url(https://fonts.googleapis.com/css?family=Titan One);
}

h1{
	text-align:center;
}	
.color{
	background-color:white;
	padding:10px;
	border-radius:20px;
}
header  {
	padding: 10px;
	background-color: LimeGreen;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}
body{
	background-color:black;
}
.flex-container{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
}
#wrapper{
		padding:10px;
		width:100%;
		margin:25px auto;
}
.flex-containeri{
	flex-direction:row;
	display: flex;
	width = 100%;
	border:3px;
	padding:5px;
	margin:15px;
	
}


nav {
	background-color: limegreen;
	text-align:center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 20px;
}
ul {
	list-style-type: none;
}
li {
	display: inline;
}
li a{
	color:black;
	padding: 14px 16px;
	text-decoration: none;
}
img{
	width = 100%
	border-radius: 20px;
	border-bottom-left-radius: 5px;
}
a:hover{
	background-color: limegreen;
	border-radius: 5px;
}
.roundBorder{
	border-radius:20px;
}
	
.footBack{
	background-color:limegreen;
	padding:10px;
	border-radius:20px;
}
.sp80{
	padding-bottom:80px;
}
.sp85{
	padding-bottom:85px;
}
.sp90{
	padding-bottom:90px;
}
.sp100{
	padding-bottom:100px;
}
.sp125{
	padding-bottom:125px;
}
.sp160{
	padding-bottom:160px;
}
.sp180{
	padding-bottom:180px;
}
.sp210{
	padding-bottom:210px;
}